<ons-page style="background-color: white">
<ons-scroller>

	<ul class="topcoat-list">

		<ons-list-item
			class="topcoat-list__item--tappable topcoat-list__item__line-height" 
			ng-click="ons.slidingMenu.toggleMenu(); 
			ons.slidingMenu.setAbovePage('navigator_alcohol.html')">
			<i class="fa fa-home fa-lg" style="color: #666"></i>
			&nbsp; Alcohol
		</ons-list-item>

		<ons-list-item 
			class="topcoat-list__item--tappable topcoat-list__item__line-height"
			ng-click="ons.slidingMenu.toggleMenu(); 
			ons.slidingMenu.setAbovePage('navigator_azucar.html')">
			<i class="fa fa-gear fa-lg" style="color: #666"></i>
			&nbsp; Azucar
		</ons-list-item>
		
		<ons-list-item 
			class="topcoat-list__item--tappable topcoat-list__item__line-height"
			ng-click="ons.slidingMenu.toggleMenu(); 
			ons.slidingMenu.setAbovePage('navigator_carbonatacion.html')">
			<i class="fa fa-gear fa-lg" style="color: #666"></i>
			&nbsp; Carbonatación
		</ons-list-item>
		
		<ons-list-item 
			class="topcoat-list__item--tappable topcoat-list__item__line-height"
			ng-click="ons.slidingMenu.toggleMenu(); 
			ons.slidingMenu.setAbovePage('navigator_densimetro.html')">
			<i class="fa fa-gear fa-lg" style="color: #666"></i>
			&nbsp; Densímetro
		</ons-list-item>
		
		<ons-list-item 
			class="topcoat-list__item--tappable topcoat-list__item__line-height"
			ng-click="ons.slidingMenu.toggleMenu(); 
			ons.slidingMenu.setAbovePage('navigator_dilucion.html')">
			<i class="fa fa-gear fa-lg" style="color: #666"></i>
			&nbsp; Dilución
		</ons-list-item>
		
		<ons-list-item 
			class="topcoat-list__item--tappable topcoat-list__item__line-height"
			ng-click="ons.slidingMenu.toggleMenu(); 
			ons.slidingMenu.setAbovePage('navigator_evaporacion.html')">
			<i class="fa fa-gear fa-lg" style="color: #666"></i>
			&nbsp; Evaporación
		</ons-list-item>
		
		<ons-list-item 
			class="topcoat-list__item--tappable topcoat-list__item__line-height"
			ng-click="ons.slidingMenu.toggleMenu(); 
			ons.slidingMenu.setAbovePage('navigator_ibus.html')">
			<i class="fa fa-gear fa-lg" style="color: #666"></i>
			&nbsp; IBUS
		</ons-list-item>
		
		<ons-list-item 
			class="topcoat-list__item--tappable topcoat-list__item__line-height"
			ng-click="ons.slidingMenu.toggleMenu(); 
			ons.slidingMenu.setAbovePage('navigator_receta.html')">
			<i class="fa fa-gear fa-lg" style="color: #666"></i>
			&nbsp; Receta
		</ons-list-item>
		
		<ons-list-item 
			class="topcoat-list__item--tappable topcoat-list__item__line-height"
			ng-click="ons.slidingMenu.toggleMenu(); 
			ons.slidingMenu.setAbovePage('navigator_rendimiento.html')">
			<i class="fa fa-gear fa-lg" style="color: #666"></i>
			&nbsp; Rendimiento
		</ons-list-item>
		
		<ons-list-item 
			class="topcoat-list__item--tappable topcoat-list__item__line-height"
			ng-click="ons.slidingMenu.toggleMenu(); 
			ons.slidingMenu.setAbovePage('navigator_suma_densidades.html')">
			<i class="fa fa-gear fa-lg" style="color: #666"></i>
			&nbsp; Suma densidades
		</ons-list-item>
		
		<ons-list-item 
			class="topcoat-list__item--tappable topcoat-list__item__line-height"
			ng-click="ons.slidingMenu.toggleMenu(); 
			ons.slidingMenu.setAbovePage('navigator_temperatura_escalon.html')">
			<i class="fa fa-gear fa-lg" style="color: #666"></i>
			&nbsp; Temperatura escalón
		</ons-list-item>
		
		<ons-list-item 
			class="topcoat-list__item--tappable topcoat-list__item__line-height"
			ng-click="ons.slidingMenu.toggleMenu(); 
			ons.slidingMenu.setAbovePage('navigator_temperatura_macerado.html')">
			<i class="fa fa-gear fa-lg" style="color: #666"></i>
			&nbsp; Temperatura macerado
		</ons-list-item>
		
		<ons-list-item 
			class="topcoat-list__item--tappable topcoat-list__item__line-height"
			ng-click="ons.slidingMenu.toggleMenu(); 
			ons.slidingMenu.setAbovePage('navigator_volumen_macerado.html')">
			<i class="fa fa-gear fa-lg" style="color: #666"></i>
			&nbsp; Volumen macerado
		</ons-list-item>
	</ul>
</ons-scroller>
</ons-page>