		* {
    		font-family: sans-serif;
    		font-size: 12px;
		}

		fieldset {
		    margin-bottom: 30px;
		    padding: 10px;
		    border: 1px solid #c0c0c0;
		    border-radius: 5px;
		    -webkit-border-radius: 5px;
		    -moz-border-radius: 5px;
		}
		
		legend {
			font-size:medium;
		}
		
		[type=text], [type=button], textarea {
		    margin-top: 3px;
		    padding: 1px;
		    border: 1px solid #000000;
		    border-radius: 3px;
		    -webkit-border-radius: 3px;
		    -moz-border-radius: 3px;
		}
		
		label {
		    
		    float: left;
		}
		
		input:hover, textarea:hover,
		input:focus, textarea:focus {
		    background-color: #ddffdd;
		}
		
		table {
			border-width: 0px;
			border-spacing: 0px;
			border-style: none;
			padding-bottom: 10px;
		}
		
		table td {
			border-width: 0px;
			padding-left: 7px;
		}
		
		div.values {
			float: left;
			margin-right: 0px;
			width: 30%;
		}
		
		table.result td {
			font-weight: bold;
			font-size: medium;
			padding-top: 20px;
			padding-left: 3px;
		}
		
		table.result td.value {
			font-size: medium;
			color: red;
			padding-left: 20px;
		}
		
		p {white-space: nowrap}
		td {white-space: nowrap}
		input {white-space: nowrap}
	
 